/* General */

* {
  box-sizing: border-box;
}

html {
  font-size: 1.125em; /* 16px --> 18px */
}

body {
  color: #333;
  line-height: 1.5rem;
  /*  BEGIN: BETTER HELVETICA by Chris Coyier https://css-tricks.com/snippets/css/better-helvetica/ */
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
                Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  /* END: BETTER HELVETICA */
}

.right {
  text-align: right;
}

a {
  color: #3498DB;
  cursor: pointer;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

/* Header */

.header {
  background-color: #3498DB;
  color: #FFF;
  width: 100%;
  position: fixed;
  height: 5rem;
  top: 0;
  padding: .75rem 0;
  /*padding: .75rem;*/
  /* TODO: replace hard-coded height with JavaScript so it can be any height */
}

.onBudget { background-color: #3498DB; }

.warningBudget { background-color: #F39C12; }

.overBudget { background-color: #E74C3C; }

.statLabel {
  font-size: 0.667rem;
  letter-spacing: .05em;
  line-height: 1.25rem;
  text-transform: uppercase;
}

.statValue {
  font-size: 2rem;
  line-height: 2rem;
}

/* List */

.list {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-top: 5rem;
}

.listItem {
  border-bottom: 0.05rem solid #EEE;
}

.listItem td {
  padding: 0.75rem;
}

.listItem .name {
  width: 60%;
}

.listItem .price {
  width: 30%;
  text-align: right;
}

.listItem .action {
  border-right: 0.05rem solid #EEE;
  padding: 0;
  text-align: center;
  width: 10%;
}

.listItem .action button {
  background: none;
  border: none;
  color: #ccc;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  padding: 1rem;
  margin: 0;
  width: 100%;
}

.listItem .action button:hover,
.listItem .action button:active {
  background-color: #E74C3C;
  border-color: #E74C3C;
  color: #FFF;
}

/* Forms */

input {
  border: none;
  outline: none;
}

.inlineEdit {
  display:block;
  width: 100%;
}

.inlineEdit input {
  background: transparent;
  border: inherit;
  color: inherit;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-align: inherit;
  text-transform: inherit;
  margin: inherit;
  padding: inherit;
  width: inherit !important;
}

.placeholder {
  color: #AAA;
}

.addItem {
  background: none;
  border-bottom: 0.05rem solid #EEE;
  color: #3498DB;
  display: block;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
}

.addItem:hover {
  background: #EEE;
  text-decoration: none;
}

.addItem:active {
  background: #3498DB;
  color: #FFF;
  text-decoration: none;
}

/*.addItem input {
  border-right: 0.05rem solid #EEE;
  padding: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.addItem input[type="submit"] {
  background-color: #3498DB;
  border: 0.05rem solid #3498DB;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5rem;
  outline: none;
  padding: .75rem 1.25rem;
}

.addItem input[type="submit"]:active {
  background-color: #2980b9;
}*/
