/* General */
* {
  box-sizing: border-box;
}

html {
  font-size: 1.125em; /* 16px --> 18px */
}

body {
  color: #333;
  line-height: 1.5rem;
  /*  BEGIN: BETTER HELVETICA by Chris Coyier https://css-tricks.com/snippets/css/better-helvetica/ */
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
                Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  /* END: BETTER HELVETICA */
}


/* Layut */

.right {
  text-align: right;
}

.half,
.fifth,
.twoFifths {
  display: inline-block;
}

.half {
  width: 50%;
}

.fifth {
  width: 20%;
}

.twoFifths {
  width: 40%;
}

.threeFifths {
  width: 60%;
}


/* Header */

.header {
  background-color: #3498DB;
  color: #FFF;
  padding: .75rem;
}

.statBlock .label {
  font-size: 0.667rem;
  letter-spacing: .05em;
  line-height: 1.25rem;
  text-transform: uppercase;
}

.statBlock .value {
  font-size: 2rem;
  line-height: 2rem;
}

  /*
   * Sticky Header
   * TODO: replace hard-coded height with JavaScript so it can be any height
   */

  .header {
    width: 100%;
    position: fixed;
    top: 0;
    height: 5rem;
  }

  .content {
    padding-top: 5rem;
  }

/* List */

li {
  font-size: 1.25rem;
  line-height: 1.5rem;
  padding: .75rem .75rem;
}

li + li {
  border-top: 0.05rem solid #EEE;
}

/* Forms */

input {
  border: none;
  outline: none;
}

input[type="text"] {
  border-top: 0.05rem solid #EEE;
  border-bottom: 0.05rem solid #EEE;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: .75rem;
}

input[type="text"] + input[type="text"] {
  border-left: 0.05rem solid #EEE;
}

input[type="submit"] {
  background-color: #3498DB;
  border: 0.05rem solid #3498DB;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5rem;
  outline: none;
  padding: .75rem 1.25rem;
}

input[type="submit"]:active {
  background-color: #2980b9;
}

.inlineEdit input[type="text"] {
  background: transparent;
  border: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: inherit;
  padding: inherit;
  text-align: inherit;
  text-transform: inherit;
}
