* {
  box-sizing: border-box;
}

body {
  /* BEGIN: Better Helvetica - by Chris Coyier https://css-tricks.com/snippets/css/better-helvetica/ */
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
  /* END: Better Helvetica */
}
