/* General */
* {
  box-sizing: border-box;
}

html {
  font-size: 1.125em; /* 16px --> 18px */
}

body {
  color: #333;
  line-height: 1.5rem;
  max-width:30rem;
  margin:0 auto;

  /*  BEGIN: BETTER HELVETICA by Chris Coyier https://css-tricks.com/snippets/css/better-helvetica/ */
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
                Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  /* END: BETTER HELVETICA */
}

/* Header */

.header {
  background-color: #3498DB;
  color: #FFF;
  padding: .75rem;
}

.stat-block {
  display: inline-block;
  width: 50%;
}

.stat-block .label {
  font-size: 0.667rem;
  letter-spacing: .05em;
  line-height: 1.25rem;
  text-transform: uppercase;
}

.stat-block .value {
  font-size: 2rem;
  line-height: 2rem;
}


/* List */

li {
  font-size: 1.25rem;
  line-height: 1.5rem;
  padding: .75rem .75rem;
}

li + li {
  border-top: 0.05rem solid #EEE;
}

.price {
  text-align: right;
  float: right;
}

/* Forms */

input {
  outline: none;
}

input[type="text"] {
  border: 0.05rem solid #EEE;
  font-size: 0.667rem;
  line-height: 1.25rem;
  padding: .5rem;
}

.inline-edit input[type="text"] {
  background: transparent;
  border: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: inherit;
  padding: inherit;
  text-align: inherit;
  text-transform: inherit;
}

.button,
button,
input[type="submit"] {
  background-color: #3498db;
  border: none;
  border-radius: .25rem;
  box-shadow: 0 .25rem #2980b9;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size: 0.667rem;
  line-height: 1.25rem;
  outline: none;
  padding: .5rem 1rem;
}

.button:hover,
button:hover,
input[type="submit"]:hover {
  background-color: #41A5E8;
  text-decoration: none;
}

.button:active,
.buton.active,
button:active,
button.active,
input[type="submit"]:active,
input[type="submit"].active {
  box-shadow: 0 .125rem #2980b9;
  transform: translateY(0.125rem);
}
